In [1]:
import pandas as pd

# Read the data
data = pd.read_excel('Refinitiv/test_till_date.xlsx')

l1 = list(data.columns)

In [2]:
# remove /n from l1
column_list = []
for column in l1:
    if column.find('\n') != -1:
        index = column.find('\n')
        new_column_name = column[:index] + column[index+1:]
        column_list.append(new_column_name)
    else:
        column_list.append(column)
    
    
print(column_list)

data.columns = column_list

['SDC Deal No', 'Date Announced', 'Rank Date', 'Rank Value inc. Net Debt of Target(USD, Millions)', 'Target Full Name', 'Target Macro Industry', 'Target Mid Industry', 'Target Nation', 'Acquiror Full Name', 'Acquiror Macro Industry', 'Acquiror Mid Industry', 'Acquiror Nation', "Target Financial Advisors Name('|')", "Acquiror Financial Advisors Name('|')", 'Deal Status', 'Form of the Deal', 'Acquiror Number of Employees', 'Target Number of Employees', 'Acquiror PermID', 'Target PermID', 'Target Founded Date', 'Acquiror Founded Date', 'Acquiror Current Assets Last 12 Months(USD, Millions)', 'Current Assets Last 12 Months (USD, Millions)', 'Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)', 'Target Market Value 4 Weeks Prior to Announcement(USD, Millions)', 'Acquiror EBIT Last 12 Months(USD, Millions)', 'EBIT Last 12 Months(USD, Millions)']

In [3]:
data.columns

Index(['SDC Deal No', 'Date Announced', 'Rank Date',
       'Rank Value inc. Net Debt of Target(USD, Millions)', 'Target Full Name',
       'Target Macro Industry', 'Target Mid Industry', 'Target Nation',
       'Acquiror Full Name', 'Acquiror Macro Industry',
       'Acquiror Mid Industry', 'Acquiror Nation',
       'Target Financial Advisors Name('|')',
       'Acquiror Financial Advisors Name('|')', 'Deal Status',
       'Form of the Deal', 'Acquiror Number of Employees',
       'Target Number of Employees', 'Acquiror PermID', 'Target PermID',
       'Target Founded Date', 'Acquiror Founded Date',
       'Acquiror Current Assets Last 12 Months(USD, Millions)',
       'Current Assets Last 12 Months (USD, Millions)',
       'Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)',
       'Target Market Value 4 Weeks Prior to Announcement(USD, Millions)',
       'Acquiror EBIT Last 12 Months(USD, Millions)',
       'EBIT Last 12 Months(USD, Millions)'],
      dtype='object')

In [4]:
targets=data[['Target PermID','Target Macro Industry','Target Nation','Target Number of Employees','Target Market Value 4 Weeks Prior to Announcement(USD, Millions)','Current Assets Last 12 Months (USD, Millions)','EBIT Last 12 Months(USD, Millions)']]

In [5]:
# print dtype for each column
print(data.dtypes)

SDC Deal No                                                                    int64
Date Announced                                                        datetime64[ns]
Rank Date                                                             datetime64[ns]
Rank Value inc. Net Debt of Target(USD, Millions)                            float64
Target Full Name                                                              object
Target Macro Industry                                                         object
Target Mid Industry                                                           object
Target Nation                                                                 object
Acquiror Full Name                                                            object
Acquiror Macro Industry                                                       object
Acquiror Mid Industry                                                         object
Acquiror Nation                                                               object
Target Financial Advisors Name('|')                                           object
Acquiror Financial Advisors Name('|')                                         object
Deal Status                                                                   object
Form of the Deal                                                              object
Acquiror Number of Employees                                                 float64
Target Number of Employees                                                   float64
Acquiror PermID                                                              float64
Target PermID                                                                float64
Target Founded Date                                                   datetime64[ns]
Acquiror Founded Date                                                 datetime64[ns]
Acquiror Current Assets Last 12 Months(USD, Millions)                        float64
Current Assets Last 12 Months (USD, Millions)                                float64
Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)           float64
Target Market Value 4 Weeks Prior to Announcement(USD, Millions)             float64
Acquiror EBIT Last 12 Months(USD, Millions)                                  float64
EBIT Last 12 Months(USD, Millions)                                           float64
dtype: object

In [6]:
"""# Convert all columns with numeric data to bins except the id columns
for column in data.columns:
    if data[column].dtype == 'float64':
        if column != 'Target PermID' and column != 'Acquiror PermID':
            data[column] = pd.cut(data[column], 5, labels=False)"""

"# Convert all columns with numeric data to bins except the id columns\nfor column in data.columns:\n    if data[column].dtype == 'float64':\n        if column != 'Target PermID' and column != 'Acquiror PermID':\n            data[column] = pd.cut(data[column], 5, labels=False)"

In [7]:
#count the number of unique values in each column
for column in data.columns:
    print(column, data[column].nunique())

SDC Deal No 11169
Date Announced 447
Rank Date 446
Rank Value inc. Net Debt of Target(USD, Millions) 4537
Target Full Name 11063
Target Macro Industry 13
Target Mid Industry 85
Target Nation 131
Acquiror Full Name 9035
Acquiror Macro Industry 13
Acquiror Mid Industry 88
Acquiror Nation 115
Target Financial Advisors Name('|') 920
Acquiror Financial Advisors Name('|') 913
Deal Status 7
Form of the Deal 2
Acquiror Number of Employees 651
Target Number of Employees 237
Acquiror PermID 8568
Target PermID 10271
Target Founded Date 3402
Acquiror Founded Date 3146
Acquiror Current Assets Last 12 Months(USD, Millions) 3891
Current Assets Last 12 Months (USD, Millions) 1757
Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions) 1212
Target Market Value 4 Weeks Prior to Announcement(USD, Millions) 811
Acquiror EBIT Last 12 Months(USD, Millions) 3460
EBIT Last 12 Months(USD, Millions) 1736

In [8]:
data.sample(10)

,SDC Deal No,Date Announced,Rank Date,"Rank Value inc. Net Debt of Target(USD, Millions)",Target Full Name,Target Macro Industry,Target Mid Industry,Target Nation,Acquiror Full Name,Acquiror Macro Industry,...,Acquiror PermID,Target PermID,Target Founded Date,Acquiror Founded Date,"Acquiror Current Assets Last 12 Months(USD, Millions)","Current Assets Last 12 Months (USD, Millions)","Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)","Target Market Value 4 Weeks Prior to Announcement(USD, Millions)","Acquiror EBIT Last 12 Months(USD, Millions)","EBIT Last 12 Months(USD, Millions)"
7333,3733130040,2023-01-09,2023-01-09,0.000000,Orange Cinema Series SA,Media and Entertainment,Broadcasting,France,Groupe Canal + SA,Media and Entertainment,...,5.000067e+09,5.000037e+09,NaT,2000-12-11,1027.112848,NaN,NaN,NaN,19.540791,NaN
10017,4008816040,2022-11-25,2022-11-25,14.363031,Sk Wellman Srl-Building Complex,Real Estate,Non Residential,Italy,Undisclosed Acquiror,Financials,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2793,4016353040,2022-05-25,2022-05-25,6.767364,Shield Autoglass Ltd,Industrials,Automobiles & Components,India,Asahi India Glass Ltd,Materials,...,4.295873e+09,4.296669e+09,2000-03-01,1984-01-01,161.500315,NaN,NaN,NaN,79.388522,NaN
1698,3875205040,2022-02-01,2022-02-01,0.000000,Adatip Saglik Hizmetleri Ticaret AS,Healthcare,Hospitals,Turkey,Lokman Hekim Engurusag Saglik Turizm Egitim Hi...,Healthcare,...,5.000781e+09,5.082179e+09,1990-01-17,1996-01-01,9.218089,NaN,NaN,NaN,5.803426,NaN
8357,3919707040,2022-05-12,2022-05-12,0.000000,Togama SA,Materials,Construction Materials,Spain,Ten Oaks Group,Financials,...,NaN,5.000033e+09,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
597,3965642040,2022-07-11,2022-07-11,0.000000,Hochrainer GmbH,High Technology,IT Consulting & Services,Germany,Wipro Pari Pvt Ltd,High Technology,...,5.000567e+09,5.001310e+09,1968-01-01,1990-01-01,NaN,NaN,NaN,NaN,NaN,NaN
5020,4038085040,2022-08-26,2022-08-26,0.884974,Polski Prad i Gaz Sp z o o,Energy and Power,Power,Poland,ONE SA,Energy and Power,...,5.000593e+09,5.042267e+09,2012-08-24,2003-07-31,8.629302,NaN,NaN,NaN,2.597205,NaN
8894,3947458040,2022-07-11,2022-07-11,4.970588,Medipharm Labs Australia Pty Ltd,Healthcare,Pharmaceuticals,Australia,OneLife Botanicals Pty Ltd,Healthcare,...,5.083356e+09,5.071166e+09,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2327,3983825040,2022-09-30,2022-09-30,6.369589,Brilliant Food Products Ltd,Retail,Discount and Department Store Retailing,Hong Kong,GDH Guangnan Hong Co Ltd,Real Estate,...,5.079239e+09,5.083479e+09,1996-08-13,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4121,4026309020,2023-01-09,2023-01-09,0.000000,Angel Island Capital,Financials,Asset Management,United States,Nassau Financial Group LP,Financials,...,5.071156e+09,5.062346e+09,2008-01-01,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# drop rows with permid as nan
targets=targets.dropna(subset=['Target PermID'])
targets

,Target PermID,Target Macro Industry,Target Nation,Target Number of Employees,"Target Market Value 4 Weeks Prior to Announcement(USD, Millions)","Current Assets Last 12 Months (USD, Millions)","EBIT Last 12 Months(USD, Millions)"
0,4.297975e+09,Industrials,United States,NaN,NaN,NaN,NaN
1,4.295906e+09,Consumer Products and Services,United States,1800.0,166.726,213.747,31.989
2,4.295861e+09,Materials,Canada,11707.0,NaN,NaN,NaN
3,5.024702e+09,Financials,United States,NaN,NaN,NaN,NaN
4,5.028235e+09,Financials,United States,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
11164,5.084981e+09,Industrials,Thailand,NaN,NaN,NaN,NaN
11165,5.063326e+09,High Technology,Spain,NaN,NaN,NaN,NaN
11166,5.060685e+09,Financials,Germany,NaN,NaN,NaN,NaN
11167,5.076081e+09,Consumer Products and Services,France,NaN,NaN,NaN,NaN
11168,5.085088e+09,Media and Entertainment,Spain,NaN,NaN,NaN,NaN

In [10]:
targets['Target PermID']=targets['Target PermID']
targets= targets.melt(id_vars='Target PermID')
targets = targets.rename(columns={'Target PermID': 'company_id', 'value': 'val_id','variable':'edge_type'})
set(targets.edge_type.values)

{'Current Assets Last 12 Months (USD, Millions)',
 'EBIT Last 12 Months(USD, Millions)',
 'Target Macro Industry',
 'Target Market Value 4 Weeks Prior to Announcement(USD, Millions)',
 'Target Nation',
 'Target Number of Employees'}

In [11]:
targets

,company_id,edge_type,val_id
0,4.297975e+09,Target Macro Industry,Industrials
1,4.295906e+09,Target Macro Industry,Consumer Products and Services
2,4.295861e+09,Target Macro Industry,Materials
3,5.024702e+09,Target Macro Industry,Financials
4,5.028235e+09,Target Macro Industry,Financials
...,...,...,...
62239,5.084981e+09,"EBIT Last 12 Months(USD, Millions)",NaN
62240,5.063326e+09,"EBIT Last 12 Months(USD, Millions)",NaN
62241,5.060685e+09,"EBIT Last 12 Months(USD, Millions)",NaN
62242,5.076081e+09,"EBIT Last 12 Months(USD, Millions)",NaN
62243,5.085088e+09,"EBIT Last 12 Months(USD, Millions)",NaN

In [12]:
# drop NaN values
targets=targets.dropna()
targets

,company_id,edge_type,val_id
0,4.297975e+09,Target Macro Industry,Industrials
1,4.295906e+09,Target Macro Industry,Consumer Products and Services
2,4.295861e+09,Target Macro Industry,Materials
3,5.024702e+09,Target Macro Industry,Financials
4,5.028235e+09,Target Macro Industry,Financials
...,...,...,...
62191,4.296279e+09,"EBIT Last 12 Months(USD, Millions)",0.648545
62201,4.298299e+09,"EBIT Last 12 Months(USD, Millions)",1.453893
62216,5.039844e+09,"EBIT Last 12 Months(USD, Millions)",3.652548
62222,5.046015e+09,"EBIT Last 12 Months(USD, Millions)",1.391668
62233,4.295860e+09,"EBIT Last 12 Months(USD, Millions)",-11.638485

In [13]:
mapper={'Current Assets Last 12 Months (USD, Millions)':'Quant_Metric',
 'EBIT Last 12 Months(USD, Millions)':'Quant_Metric',
 'Target Macro Industry':'Industry',
 'Target Market Value 4 Weeks Prior to Announcement(USD, Millions)':'Quant_Metric',
 'Target Nation':'Location',
 'Target Number of Employees':'Quant_Metric'}

In [14]:
new=[]
for index,row in targets.iterrows():
    new.append(mapper[row['edge_type']])

In [15]:
targets['node_type']=new

C:\Users\Nakul\AppData\Local\Temp\ipykernel_6000\823271063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets['node_type']=new

In [16]:
targets

,company_id,edge_type,val_id,node_type
0,4.297975e+09,Target Macro Industry,Industrials,Industry
1,4.295906e+09,Target Macro Industry,Consumer Products and Services,Industry
2,4.295861e+09,Target Macro Industry,Materials,Industry
3,5.024702e+09,Target Macro Industry,Financials,Industry
4,5.028235e+09,Target Macro Industry,Financials,Industry
...,...,...,...,...
62191,4.296279e+09,"EBIT Last 12 Months(USD, Millions)",0.648545,Quant_Metric
62201,4.298299e+09,"EBIT Last 12 Months(USD, Millions)",1.453893,Quant_Metric
62216,5.039844e+09,"EBIT Last 12 Months(USD, Millions)",3.652548,Quant_Metric
62222,5.046015e+09,"EBIT Last 12 Months(USD, Millions)",1.391668,Quant_Metric
62233,4.295860e+09,"EBIT Last 12 Months(USD, Millions)",-11.638485,Quant_Metric

In [17]:
# Remove Target from edge type
targets['edge_type']=targets['edge_type'].str.replace('Target ','')
targets['edge_type'] = targets['edge_type'].str.replace("Current Assets Last 12 Months ", 'Current Assets Last 12 Months')

C:\Users\Nakul\AppData\Local\Temp\ipykernel_6000\199407062.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets['edge_type']=targets['edge_type'].str.replace('Target ','')
C:\Users\Nakul\AppData\Local\Temp\ipykernel_6000\199407062.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets['edge_type'] = targets['edge_type'].str.replace("Current Assets Last 12 Months ", 'Current Assets Last 12 Months')

In [18]:
targets.dropna(inplace=True)

C:\Users\Nakul\AppData\Local\Temp\ipykernel_6000\2435182257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets.dropna(inplace=True)

In [19]:
#list unqiue edge types
set(targets.edge_type.values)

{'Current Assets Last 12 Months(USD, Millions)',
 'EBIT Last 12 Months(USD, Millions)',
 'Macro Industry',
 'Market Value 4 Weeks Prior to Announcement(USD, Millions)',
 'Nation',
 'Number of Employees'}

In [20]:
# for acquirors

acquirors = data[
    [
        "Acquiror PermID",
        "Acquiror Macro Industry",
        "Acquiror Nation",
        "Acquiror Number of Employees",
        "Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)",
        "Acquiror Current Assets Last 12 Months(USD, Millions)",
        "Acquiror EBIT Last 12 Months(USD, Millions)",
    ]
]
# drop rows with permid as nan
acquirors = acquirors.dropna(subset=["Acquiror PermID"])

acquirors["Acquiror PermID"] = acquirors["Acquiror PermID"].astype(str)
acquirors = acquirors.melt(id_vars="Acquiror PermID")
acquirors = acquirors.rename(
    columns={
        "Acquiror PermID": "company_id",
        "value": "val_id",
        "variable": "edge_type",
    }
)
set(acquirors.edge_type.values)

{'Acquiror Current Assets Last 12 Months(USD, Millions)',
 'Acquiror EBIT Last 12 Months(USD, Millions)',
 'Acquiror Macro Industry',
 'Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)',
 'Acquiror Nation',
 'Acquiror Number of Employees'}

In [21]:
mapper2 = {
    "Acquiror Current Assets Last 12 Months(USD, Millions)": "Quant_Metric",
    "Acquiror EBIT Last 12 Months(USD, Millions)": "Quant_Metric",
    "Acquiror Macro Industry": "Industry",
    "Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)": "Quant_Metric",
    "Acquiror Nation": "Location",
    "Acquiror Number of Employees": "Quant_Metric",
}

In [22]:
new2 = []
for index, row in acquirors.iterrows():
    new2.append(mapper2[row["edge_type"]])

In [23]:
acquirors["node_type"] = new2

In [24]:
acquirors.head()

,company_id,edge_type,val_id,node_type
0,5083758169.0,Acquiror Macro Industry,Financials,Industry
1,5065324915.0,Acquiror Macro Industry,Consumer Products and Services,Industry
2,5000647778.0,Acquiror Macro Industry,Financials,Industry
3,4298070370.0,Acquiror Macro Industry,Financials,Industry
4,4295884507.0,Acquiror Macro Industry,Retail,Industry

In [25]:
# count number of nan values in each column
acquirors.isnull().sum()

company_id        0
edge_type         0
val_id        29565
node_type         0
dtype: int64

In [26]:
# drop nan values
acquirors.dropna(inplace=True)
len(acquirors)

31299

In [27]:
# remove Acquiror from edge type
acquirors["edge_type"] = acquirors["edge_type"].str.replace("Acquiror ", "")

In [28]:
set(acquirors.edge_type.values)

{'Current Assets Last 12 Months(USD, Millions)',
 'EBIT Last 12 Months(USD, Millions)',
 'Macro Industry',
 'Market Value 4 Weeks Prior to Announcement(USD, Millions)',
 'Nation',
 'Number of Employees'}

In [29]:
set(targets.edge_type.values)

{'Current Assets Last 12 Months(USD, Millions)',
 'EBIT Last 12 Months(USD, Millions)',
 'Macro Industry',
 'Market Value 4 Weeks Prior to Announcement(USD, Millions)',
 'Nation',
 'Number of Employees'}

In [30]:
set(targets.edge_type.values) == set(acquirors.edge_type.values)

True

In [31]:
#merge acquirors and targets
nodes=pd.concat([acquirors,targets])
len(nodes)

56841

In [32]:
nodes[nodes["node_type"] =='Quant_Metric'].sample(20)

,company_id,edge_type,val_id,node_type
56156,5050268216.0,"EBIT Last 12 Months(USD, Millions)",17.075,Quant_Metric
56901,5042246964.0,"EBIT Last 12 Months(USD, Millions)",17.210863,Quant_Metric
56798,5073629975.0,"EBIT Last 12 Months(USD, Millions)",-17.318126,Quant_Metric
52015,5048276856.0,"EBIT Last 12 Months(USD, Millions)",5.224921,Quant_Metric
45914,4297792352.0,"Current Assets Last 12 Months(USD, Millions)",64.17445,Quant_Metric
40388,5080042686.0,Market Value 4 Weeks Prior to Announcement(USD...,0.717,Quant_Metric
32232,4295870878.0,Market Value 4 Weeks Prior to Announcement(USD...,332.073534,Quant_Metric
55723,5040043546.0,"EBIT Last 12 Months(USD, Millions)",-5.008463,Quant_Metric
45144,4295887912.0,"Current Assets Last 12 Months(USD, Millions)",422.51149,Quant_Metric
41626,5045870711.0,"Current Assets Last 12 Months(USD, Millions)",582.434,Quant_Metric
42659,5049431729.0,"Current Assets Last 12 Months(USD, Millions)",4.963281,Quant_Metric
59950,5000924385.0,"EBIT Last 12 Months(USD, Millions)",0.86056,Quant_Metric
33308,4296750448.0,Market Value 4 Weeks Prior to Announcement(USD...,1791.782,Quant_Metric
43510,4297067905.0,"Current Assets Last 12 Months(USD, Millions)",1235.826,Quant_Metric
50470,5081056333.0,"Current Assets Last 12 Months(USD, Millions)",60.531524,Quant_Metric
49319,5066575869.0,"Current Assets Last 12 Months(USD, Millions)",2.066843,Quant_Metric
58138,5064659143.0,"EBIT Last 12 Months(USD, Millions)",-13.528532,Quant_Metric
43075,4295913577.0,"Current Assets Last 12 Months(USD, Millions)",0.339,Quant_Metric
44407,4297145396.0,"Current Assets Last 12 Months(USD, Millions)",75.314,Quant_Metric
46600,5043334845.0,"Current Assets Last 12 Months(USD, Millions)",268.172,Quant_Metric

In [33]:
# save merged-prop-edges to csv
nodes.to_csv('Refinitiv/merged-prop-edges.csv',index=False)

In [34]:
#Ignore stuff below

In [35]:
df1 = pd.read_csv("merged-acq-edges.csv")
df1.head()

   Acquiror PermID  Target PermID Date Announced
0     5.083758e+09   4.297975e+09     2023-01-10
1     5.065325e+09   4.295861e+09     2022-10-06
2     5.000648e+09   5.024702e+09     2022-10-11
3     4.298070e+09   5.028235e+09     2022-04-19
4     4.295885e+09   4.295891e+09     2022-07-05

In [36]:
# count null values in each column
df1.isnull().sum()

Acquiror PermID    0
Target PermID      0
Date Announced     0
dtype: int64

In [37]:
df1 = pd.read_csv("merged-acq-edges.csv")
df1.head()
df1.drop(columns=["Unnamed: 0"], inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
df1.to_csv("merged-acq-edges.csv", index=False)

In [ ]:
df2 = pd.read_csv("merged-entities.csv")
df2.head()

             id                                  name  start_date
0  5.083758e+09                  TLSS Acquisition Inc         NaN
1  5.065325e+09                     Arco Platform Ltd  01/01/2004
2  5.000648e+09                  Fisher National Bank  01/01/1955
3  4.298070e+09         Higginbotham & Associates LLC  01/01/1948
4  4.295885e+09  Fomento Economico Mexicano SAB de CV         NaN

In [ ]:
df2.to_csv("merged-entities.csv", index=False)

In [ ]:
# count null values in each column
df2.isnull().sum()

id               0
name             0
start_date    4331
dtype: int64

In [ ]:
import pandas as pd
df3 = pd.read_csv("D:\Documents\Github\Predicting_MnA-main\data\ingestion\\acq_edges\merged-acq-edges.csv")

In [ ]:
df3.columns

Index(['owned_id', 'owner_id', 'date'], dtype='object')

In [ ]:
df1.columns = ['owner_id','owned_id', 'date']

In [ ]:
df1.head()

       owner_id      owned_id        date
0  5.083758e+09  5.083758e+09  01/10/2023
1  5.065325e+09  5.065325e+09  10/06/2022
2  5.000648e+09  5.000648e+09  10/11/2022
3  4.298070e+09  4.298070e+09  04/19/2022
4  4.295885e+09  4.295885e+09  07/05/2022

In [ ]:
df1.to_csv("Refinitiv/merged-acq-edges.csv", index=False)

NameError: name 'df1' is not defined